a {
    color: purple;
}

.mainLink {
    color: green;
}

.squareMarker {
    list-style-type: square;
}

.imgMarker {
    list-style-image: url(../task3/materials/li.svg);
}

ul ul {
    list-style-type: none;
}

.squareMarker a {
    text-decoration: none;
}

ol {
    list-style-position: inside;
}
