p.textBackground span {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

div .textBackground span {
    background-color: yellow;

}

span span {
    background-color: gray;
    text-decoration: line-through;
}

ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

section > p {
    text-shadow: 3px 3px 5px red;
    text-indent: 50px;
}

li > ul {
    list-style-image: url(materials/li.svg);
}

div > p.textBackground {
    word-spacing: 50px;
}

divBold > p {
    font-weight: bold;
}

divBold > section > p {
    line-height: 45px;
}

img + p {
    background-color: brown;
}

section ~ p {
    color: red;
}
