table {
    text-align: center;
    table-layout: fixed;
    color: white;
    width: 700px;
    height: 400px;
}

th {
    padding: 15px;
}

td {
    padding: 10px;
}

th:nth-child(1) {
    background-color: #f2dbdb;
}

th:nth-child(2) {
    background-color: #e5b8b7;
}

th:nth-child(3) {
    background-color: #d99594;
}

th:nth-child(4) {
    background-color: #943634;
}

th:nth-child(5) {
    background-color: #632423;
}

tbody tr:nth-child(odd) {
    background-color: #e5b8b7;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #f2dbdb;
    color: black;
}

tbody tr td:first-child {
    background-color: #c0504d;
    color: white;
}
